# Dependencies
node_modules/
__pycache__/
*.py[cod]
.env
.env.local

# Build files
.next/
out/
build/
dist/

# System files
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.vercel
